<header class="px-8 pt-10">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-col">
            <h1 class="text-headline font-headline text-high-contrast">
                Áreas Académicas  🎓
            </h1>
        </div>
    </div>
</header>

<!-- choose your topic -->
<section class="px-8 pt-10">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-col">
            <h2 class="text-headline font-headline text-reduce-contrast">
                Biológica y Biomédica
            </h2>
            <span class="text-reduce-contrast text-subhead font-subhead mt-1">
                2 carreras
            </span>
        </div>
    </div>

    <!-- choose your major-->
    <div class="flex flex-row my-6 overflow-x-auto scrolling-touch flex-no-wrap">
        
        <!-- one major-->
        <a href="" class=" w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo text-subtitle">
            <img src="https://images.unsplash.com/photo-1584521764592-48f33fe7e088?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="biologia" class="w-full object-cover">
            <h3 class="text-title">Biología</h3>
            <hr class="border-green">
            <p class="my-2 ">Prácticas de preguntas acerca de una temática en específico</p>
        </a>

        <a href="" class=" w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo text-subtitle">
            <img src="https://images.unsplash.com/photo-1585435557343-3b092031a831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="biologia" class="w-full object-cover">
            <h3 class="text-title">Medicina</h3>
            <hr class="border-green">
            <p class="my-2 ">Prácticas de preguntas acerca de una temática en específico</p>
        </a>

    </div>

</section>

<section class="px-8 pt-10">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-col">
            <h2 class="text-headline font-headline text-reduce-contrast">
                Técnica
            </h2>
            <span class="text-reduce-contrast text-subhead font-subhead mt-1">
                2 carreras
            </span>
        </div>
    </div>

    <!-- choose your major-->
    <div class="flex flex-row my-6 overflow-x-auto scrolling-touch flex-no-wrap">
        
        <!-- one major-->
        <a href="" class=" w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo text-subtitle">
            <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="biologia" class="w-full object-cover">
            <h3 class="text-title">Sistemas</h3>
            <hr class="border-green">
            <p class="my-2 ">Prácticas de preguntas acerca de una temática en específico</p>
        </a>

        <a href="" class=" w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo text-subtitle">
            <img src="https://images.unsplash.com/photo-1456086272160-b28b0645b729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="biologia" class="w-full object-cover">
            <h3 class="text-title">Artes</h3>
            <hr class="border-green">
            <p class="my-2 ">Prácticas de preguntas acerca de una temática en específico</p>
        </a>

    </div>

</section>