<ng-container *ngIf="auth.user | async as user">
    <header class="px-8 pt-10">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <h1 class="text-headline font-headline text-high-contrast">
                    Hola {{user.displayName.split(' ')[0] | titlecase}} 👋
                </h1>

                <span class="text-reduce-contrast text-subhead font-subhead">
                    Es momento de Jugar
                </span>
            </div>

            <div class="w-16 h-16 overflow-hidden rounded-full ">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast">
            </div>
        </div>
    </header>
</ng-container>

<!-- stats -->
<section class="flex justify-center w-auto px-4 pt-10">
    <div class="overflow-hidden rounded-big text-high-contrast bg-primary shadow-neo">
        <div class="flex p-4 space-x-3">
            <!-- games played -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="far fa-heart text-headline"></i>

                <!-- games counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        24
                    </b>
                    <span class="text-caption font-caption">
                        Partidas
                    </span>
                </div>
            </div>

            <!-- divider -->
            <div class="w-1 h-auto rounded-full bg-primary-light"></div>

            <!-- friends -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="fas fa-user-friends text-headline"></i>

                <!-- friends counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        7
                    </b>
                    <span class="text-caption font-caption">
                        Amigos
                    </span>
                </div>
            </div>

            <!-- divider -->
            <div class="w-1 h-auto rounded-full bg-primary-light"></div>

            <!-- points obtained -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="fas fa-certificate text-headline"></i>

                <!-- points counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        6500
                    </b>
                    <span class="text-caption font-caption">
                        Puntos
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- games -->
<section class="pt-10 pb-5">
    <!-- section header -->
    <div class="ml-8">
        <div class="flex flex-row items-center justify-between">
            <h2 class="font-headline text-headline text-reduce-contrast">
                Elige y Juega
            </h2>
        </div>
    </div>
    <!-- end header -->

    <!-- choose your game -->
    <div class="flex flex-row flex-no-wrap space-x-8 overflow-x-auto scrolling-touch">
        <!-- individual -->
        <div class="relative flex-none w-4/5 pt-8 ml-8">
            <!-- card container -->
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <div class="flex flex-col px-4 py-3 space-y-3">
                    <!-- card title -->
                    <h3 class="text-title font-title text-high-contrast">
                        Individual
                    </h3>

                    <!-- divider -->
                    <hr class="border-reduce-contrast">

                    <!-- card description -->
                    <p class="text-body font-body text-high-contrast">
                        Prácticas de preguntas acerca de una temática en específico
                    </p>

                    <!-- play action -->
                    <button (click)="createSoloGame()" class="flex justify-center px-4 py-2 bg-primary rounded-small">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            EMPEZAR PARTIDA RÁPIDA >
                        </span>
                    </button>

                    <!-- secondary action -->
                    <a href="" class="flex justify-center px-4 py-2">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            VER TEMÁTICAS
                        </span>
                    </a>
                </div>
            </div>

            <!-- floating image -->
            <img src="/assets/classic-logo.png" alt="clasic game" class="absolute top-0 right-0 w-16">
        </div>

        <!-- multiplayer -->
        <div class="relative flex-none w-4/5 pt-8 ">
            <!-- card container -->
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <div class="flex flex-col px-4 py-3 space-y-3">
                    <!-- card title -->
                    <h3 class="text-title font-title text-high-contrast">
                        Multijugador
                    </h3>

                    <!-- divider -->
                    <hr class="border-reduce-contrast">

                    <!-- card description -->
                    <p class="text-body font-body text-high-contrast">
                        Compite con tus amigos para conocer quien es el mejor
                    </p>

                    <!-- play action -->
                    <a href="" class="flex justify-center px-4 py-2 bg-primary rounded-small">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            CREAR UNA NUEVA PARTIDA >
                        </span>
                    </a>

                    <!-- secondary action -->
                    <a href="" class="flex justify-center px-4 py-2">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            INGRESAR CÓDIGO >
                        </span>
                    </a>
                </div>
            </div>

            <!-- floating image -->
            <img src="/assets/multi-logo.png" alt="clasic game" class="absolute top-0 right-0 w-32">
        </div>

        <!-- infinite-->
        <div class="relative flex-none w-4/5 pt-8 ">
            <!-- card container -->
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <div class="flex flex-col px-4 py-3 space-y-3">
                    <!-- card title -->
                    <h3 class="text-title font-title text-high-contrast">
                        Modo Infinito
                    </h3>

                    <!-- divider -->
                    <hr class="border-reduce-contrast">

                    <!-- card description -->
                    <p class="text-body font-body text-high-contrast">
                        Contesta preguntas de cualquier temática hasta fallar
                    </p>

                    <!-- play action -->
                    <a href="" class="flex justify-center px-4 py-2 bg-primary rounded-small">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            EMPEZAR PARTIDA >
                        </span>
                    </a>

                    <!-- secondary action -->
                    <a href="" class="flex justify-center px-4 py-2">
                        <span class="uppercase whitespace-no-wrap text-button font-button text-high-contrast">
                            VER RANKIN MUNDIAL >
                        </span>
                    </a>
                </div>
            </div>

            <!-- floating image -->
            <img src="/assets/infinite-logo.png" alt="clasic game" class="absolute top-0 right-0 w-20">
        </div>
    </div>

</section>

<!-- activity -->
<ng-container *ngIf="auth.user | async as user">
    <section class="px-8 pt-4">
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <h2 class="text-headline font-headline text-high-contrast">
                    Actividad Reciente
                </h2>
            </div>
        </div>
        <hr class="my-2 border-low-contrast">

        <!-- friends activity -->
        <div class="flex flex-row my-6">
            <div class="flex-col w-12 h-12 overflow-hidden rounded-full">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast ">
            </div>
            <div class="flex-col mx-3 leading-none text-reduce-contrast">
                <h3 class="text-subhead text-high-contrast">Individual</h3>
                <p class="text-subtitle">Quiz de matemática - 200 puntos</p>
                <p class="text-subtitle">Bruno Esparza</p>
                <p class="text-overline">Hace 1 hora</p>
            </div>
        </div>

        <!-- example friend 2 -->
        <div class="flex flex-row my-4">
            <div class="flex-col w-12 h-12 overflow-hidden rounded-full">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast ">
            </div>
            <div class="flex-col mx-3 leading-none text-reduce-contrast">
                <h3 class="text-subhead text-high-contrast">Individual</h3>
                <p class="text-subtitle">Quiz de matemática - 200 puntos</p>
                <p class="text-subtitle">Bruno Esparza</p>
                <p class="text-overline">Hace 1 hora</p>
            </div>
        </div>
    </section>
</ng-container>