<ng-container *ngIf="auth.user | async as user">
    <header class="px-8 pt-10">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <h1 class="text-headline font-headline text-high-contrast">
                    Hola {{user.displayName.split(' ')[0] | titlecase}} 👋
                </h1>

                <span class="text-reduce-contrast text-subhead font-subhead">
                    Es momento de Jugar
                </span>
            </div>

            <div class="w-16 h-16 overflow-hidden rounded-full ">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast">
            </div>
        </div>
    </header>
</ng-container>

<!-- stats -->
<section class="flex justify-center w-auto px-4 pt-10">
    <div class="overflow-hidden rounded-big text-high-contrast bg-primary shadow-neo">
        <div class="flex p-4 space-x-3">
            <!-- games played -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="far fa-heart text-headline"></i>

                <!-- games counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        24
                    </b>
                    <span class="text-caption font-caption">
                        Partidas
                    </span>
                </div>
            </div>

            <!-- divider -->
            <div class="w-1 h-auto rounded-full bg-primary-light"></div>

            <!-- friends -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="fas fa-user-friends text-headline"></i>

                <!-- friends counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        7
                    </b>
                    <span class="text-caption font-caption">
                        Amigos
                    </span>
                </div>
            </div>

            <!-- divider -->
            <div class="w-1 h-auto rounded-full bg-primary-light"></div>

            <!-- points obtained -->
            <div class="flex flex-row items-center space-x-3">
                <!-- icon -->
                <i class="fas fa-certificate text-headline"></i>

                <!-- points counter -->
                <div class="flex flex-col">
                    <b class="text-title font-title">
                        6500
                    </b>
                    <span class="text-caption font-caption">
                        Puntos
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- games -->
<section class="px-8 pt-10">
    <div class="flex flex-row items-center justify-between">
        <div class="flex flex-col">
            <h2 class="text-headline font-headline text-reduce-contrast">
                Elige y Juega
            </h2>
        </div>
    </div>

    <!-- choose your game -->
    <div class="flex flex-row my-6 overflow-x-auto scrolling-touch flex-no-wrap">
        <!-- individual -->
        <div
            class="relative w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
            text-high-contrast bg-low-contrast shadow-neo text-subtitle">
                <h3 class="text-title">Individual</h3>
                <img src="../../../../assets/classic-logo.png" alt="clasic game" class="absolute top-0 right-0 w-1/4 -mt-8">
            <hr class="border-reduce-contrast">
            <p class="my-2 ">Prácticas de preguntas acerca de una temática en específico</p>
            <a href="" class="mt-3 mb-2 text-center ">
                <div class="my-2 bg-primary rounded-small text-high-contrast bg-primary">
                    EMPEZAR PARTIDA RÁPIDA >
                </div>
            </a>
            <div class="mt-4 mb-2 text-center">  
                <a href="">VER TEMÁTICAS ></a>
            </div>
        </div>
        <!-- multiplayer -->
        <div
            class="relative w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast
            rounded-small text-high-contrast bg-low-contrast shadow-neo text-subtitle">
            <h3 class="text-title">Multijugador</h3>
            <img src="../../../../assets/multi-logo.png" alt="clasic game" class="absolute top-0 right-0 w-7/12 -mt-8">

            <hr class="border-reduce-contrast">
            <p class="my-2">Compite con tus amigos para conocer quien es el mejor</p>
            <a href="" class="mt-3 mb-2 text-center ">
                <div class="my-2 bg-primary rounded-small text-high-contrast bg-primary">
                    CREAR UNA NUEVA PARTIDA >
                </div>
            </a>
            <div class="mt-4 mb-2 text-center">
                <a href="">INGRESAR CÓDIGO ></a>
            </div>
        </div>
        <!-- infinite-->
        <div
            class="relative w-4/5 flex-none p-2 px-4 pt-2 ml-2 mr-6 text-high-contrast rounded-small 
            text-high-contrast bg-low-contrast shadow-neo text-subtitle">
            <h3 class="text-title">Modo Infinito</h3>
            <img src="../../../../assets/infinite-logo.png" alt="clasic game" class="absolute top-0 right-0 w-5/12 -mt-12">
            <hr class="border-reduce-contrast">
            <p class="my-2">Contesta preguntas de cualquier temática hasta fallar</p>
            <a href="" class="mt-3 mb-2 text-center ">
                <div class="my-2 bg-primary rounded-small text-high-contrast bg-primary">
                    EMPEZAR PARTIDA >
                </div>
            </a>
            <div class="mt-4 mb-2 text-center">
                <a href="">VER RANKIN MUNDIAL ></a>
            </div>
        </div>
    </div>

</section>

<!-- activity -->
<ng-container *ngIf="auth.user | async as user">
    <section class="px-8 pt-4">
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <h2 class="text-headline font-headline text-high-contrast">
                    Actividad Reciente
                </h2>
            </div>
        </div>
        <hr class="my-2 border-low-contrast">

        <!-- friends activity -->
        <div class="my-6 flex flex-row">
            <div class="flex-col w-12 h-12 overflow-hidden rounded-full">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast ">
            </div>
            <div class="flex-col mx-3 leading-none text-reduce-contrast">
                <h3 class="text-subhead text-high-contrast">Individual</h3>
                <p class="text-subtitle">Quiz de matemática - 200 puntos</p>
                <p class="text-subtitle">Bruno Esparza</p>
                <p class="text-overline">Hace 1 hora</p>
            </div>
        </div>

        <!-- example friend 2 -->
        <div class="my-4 flex flex-row">
            <div class="flex-col w-12 h-12 overflow-hidden rounded-full">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast ">
            </div>
            <div class="flex-col mx-3 leading-none text-reduce-contrast">
                <h3 class="text-subhead text-high-contrast">Individual</h3>
                <p class="text-subtitle">Quiz de matemática - 200 puntos</p>
                <p class="text-subtitle">Bruno Esparza</p>
                <p class="text-overline">Hace 1 hora</p>
            </div>
        </div>
    </section>
</ng-container>