<section class="pb-3">
    <div class="flex flex-row justify-center">
        <img src="../../../../assets/hestia-points.png" alt="" class="w-50% h-full">
    </div>
</section>

<!-- best player -->
<!-- <ng-container *ngIf="auth.user | async as user">
    <section class="relative pt-5 pb-3">
        <div class="items-center justify-start mx-8">
            <div class="flex flex-col">
    
                global position
                <span class="text-display-1 font-display-1 text-low-contrast">
                    #1 Bruno 
                </span>
    
                total points
                <span class="text-body font-body text-reduce-contrast">
                    3050 pts - 20 partidas
                </span>
    
                <div class="absolute right-0 w-16 h-16 mx-8 my-3 overflow-hidden rounded-full">
                    <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast shadow-neo">
                </div>
    
            </div>
        </div>
    </section>
</ng-container> -->

<!-- the other players -->
<section class="w-full pt-3 pb-3 ">
    <div class="flex flex-col items-stretch justify-start mx-8 space-y-4">
        <!-- head -->
        <div class="flex flex-col">
            <h2 class="text-headline font-headline text-high-contrast">
                Tablero Mundial
            </h2>
            <hr class="border-high-contrast border-1 rounded-small">
        </div>
        <!--end head -->

        <!-- leader board -->
        <ng-container *ngFor="let user of leaderBoard | async; let i = index">
            <div class="flex flex-col mt-1">
                <div class="flex flex-row items-center space-x-4">
                    <span class="self-start text-display-1 font-display-1 text-primary">
                        {{i+1}}
                    </span>

                    <!-- information container -->
                    <div class="flex flex-col justify-start flex-grow mx-2 overflow-hidden text-high-contrast">
                        <!-- player name -->
                        <span class="w-full truncate whitespace-no-wrap text-title font-title">
                            {{user.displayName|titlecase}}
                        </span>

                        <!-- total points -->
                        <span class=" text-subtitle font-subtitle">
                            Total: {{user.points}} puntos
                        </span>

                        <span
                            class="w-full truncate whitespace-no-wrap text-overline font-overline text-reduce-contrast">
                            {{user.email}}
                        </span>
                    </div>
                    <!--end container-->
                    <ng-container *ngIf="i === 0">
                        <span class=" text-display-1 font-display-1">
                            🥇
                        </span>
                    </ng-container>
                    <ng-container *ngIf="i === 1">
                        <span class=" text-display-1 font-display-1">
                            🥈
                        </span>
                    </ng-container>
                    <ng-container *ngIf="i === 2">
                        <span class=" text-display-1 font-display-1">
                            🥉
                        </span>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</section>