<div class="flex flex-col h-full">
    <div class="flex-grow overflow-y-auto">
        <router-outlet></router-outlet>
    </div>

    <nav class="sticky bottom-0 w-full overflow-x-auto bg-background shadow-top">
        <div class="flex flex-row justify-start text-reduce-contrast">
            <!-- home link -->
            <a routerLink="/" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}"
                class="px-4 py-2 uppercase whitespace-no-wrap text-button font-button">
                <i class="far fa-times-circle"></i>
                <span class="mx-1">CANCELAR</span>
                <ng-container *ngIf="router.url === '/'">
                    Inicio
                </ng-container>
            </a>
        </div>
    </nav>
</div>