<div class="py-8 mx-8">
    <div class="flex justify-center">
        <button class="px-10 py-2 shadow-neo text-reduce-contrast" click="">
            <i class="fas fa-volume-up"></i>
            Activar Sonido / Silenciar
        </button>
    </div>
</div>

<div class="py-8 mx-8">
    <div class="flex justify-center">
        <button class="px-10 py-2 shadow-neo text-reduce-contrast" click="">
            <i class="far fa-file-alt"></i>
            Terminos y Condiciones 
        </button>
    </div>
</div>

<div class="py-8 mx-8">
    <div class="flex justify-center">
        <button class="px-10 py-2 shadow-neo text-reduce-contrast" click="">
            <i class="far fa-address-book"></i>
            Créditos
        </button>
    </div>
</div>

<div class="py-8 mx-8">
    <div class="flex justify-center">
        <button class="px-10 py-2 shadow-neo text-reduce-contrast" (click)="signOut()">
            <i class="fas fa-sign-out-alt"></i>
            Cerrar Sesión
        </button>
    </div>
</div>

