<h1>multijugador comienza partida</h1>

<ng-container *ngIf="auth.user | async as user">
    <header class="px-8 pt-10">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-headline font-headline text-reduce-contrast">
                    1600 pts
                </span>

                <span class="text-reduce-contrast text-subhead font-subhead">
                    Pregunta: 5 de 10
                </span>

                <span class="text-subhead font-subhead text-primary-light">
                    4 segundos restantes
                </span>
            </div>

            <div class="w-16 h-16 overflow-hidden rounded-full ">
                <img [src]="user.photoURL" alt="Foto de perfil" class="w-full h-full bg-reduce-contrast">
            </div>
        </div>
    </header>
</ng-container>


<!-- questions -->
<section class="px-8 pt-24">
    
    <div class="relative flex-none p-2 px-4 pt-2 rounded-small 
        bg-white shadow-neo text-subtitle">
        <!-- timer -->
        <hr class=" absolute border-4 border-primary-dark top-0 w-48 left-0 rounded">
        <!-- floating image -->
        <img src="/assets/infinite-logo.png" alt="run" class="absolute -mt-20 ml-32 w-24">

        <!-- topic -->
        <h3 class="text-title text-low-contrast">Biología</h3>

        <!-- divider-->
        <hr class="border-green">

        <!-- question -->
        <p class="my-2 ">¿Cuántos ATPs y NADH produce una vuelta del Ciclo de Krebs?</p>

    </div>
</section>

<!-- answers -->
<section class="px-8 pt-6">
        
        <!-- one answer-->
        <button click="" class="my-3 w-full p-2 pt-2 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo">
            <span class="my-1 text-button font-button">36 ATP los NAHD se transforman todos</span>
        </button>

        <!-- example 1 -->
        <button class="my-3 p-2 w-full pt-2 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo">
            <span class="my-1 text-button font-button">1 ATP y 3 NADH</span>
        </button>
        <!-- example 2 -->
        <button class="my-3 p-2 w-full pt-2 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo">
            <span class="my-1 text-button font-button">3 ATP y 1 NADH</span>
        </button>
        <!-- example 3 -->
        <button class="my-3 w-full p-2 pt-2 text-high-contrast rounded-small 
        bg-low-contrast shadow-neo">
            <span class="my-1 text-button font-button">4 ATP y 0 NADH</span>
        </button>

</section>