<section class="pt-8 pb-1">
    <div class="mx-8 flex flex-col">
        <span class="text-headline font-headline text-high-contrast">
            Tienda 🛍️
        </span>

        <!-- jewels -->
        <span class="text-reduce-contrast text-subhead font-subhead">
            Gemas: 1000 💎
        </span>

        <span class="mt-1 text-reduce-contrast text-overline font-overline">
            Compra tus poderes ahora
        </span>
    </div>
</section>

<!-- powers sell -->
<section class="pt-4 pb-5">
    <!-- list of powers -->
    <div class="flex flex-row flex-no-wrap space-x-8 overflow-x-auto scrolling-touch">

        <!-- individual -->
        <div class="flex-none w-3/5 pt-2 ml-4">
            <!-- card container -->
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <!-- card image -->
                <img src="../../../../assets/zeus.png" alt="zeus" class="w-full object-cover h-40">

                <!-- information container-->
                <div href="" class="flex flex-col px-2 py-3 space-y-3">
                    <!-- card title -->
                    <h3 class="text-title font-title text-high-contrast">Rayo</h3>

                    <!-- divider -->
                    <hr class="border-red border-2 rounded-small">

                    <!-- cost -->
                    <span class="text-high-contrast text-overline font-overline">
                        300 💎
                    </span>

                    <!-- description -->
                    <p class="my-1 text-body font-body text-high-contrast">El rayo de Zeus le quitará el multiplicador
                        al jugador que elijas</p>
                </div>

                <!-- button buy -->
                <button class="overflow-hidden rounded-small bg-primary-dark ml-24 mb-4">
                    <span class="text-high-contrast text-button font-button mx-4">
                        COMPRAR +
                    </span>
                </button>
            </div>
        </div>

        <!-- poseidon -->
        <div class="flex-none w-3/5 pt-2 ml-4">
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <img src="../../../../assets/poseidon.png" alt="zeus" class="w-full object-cover h-40">
                <div href="" class="flex flex-col px-2 py-3 space-y-3">
                    <h3 class="text-title font-title text-high-contrast">Tridente</h3>
                    <hr class="border-blue border-2 rounded-small">
                    <span class="text-high-contrast text-overline font-overline">
                        250 💎
                    </span>
                    <p class="my-1 text-body font-body text-high-contrast">Poseidon llenará de tinta de Leviatán a uno
                        de tus amigos</p>
                </div>
                <button class="overflow-hidden rounded-small bg-primary-dark ml-24 mb-4">
                    <span class="text-high-contrast text-button font-button mx-4">
                        COMPRAR +
                    </span>
                </button>
            </div>
        </div>

        <!-- atenea -->
        <div class="flex-none w-3/5 pt-2 ml-4">
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <img src="../../../../assets/atenea.png" alt="zeus" class="w-full object-cover h-40">
                <div href="" class="flex flex-col px-2 py-3 space-y-3">
                    <h3 class="text-title font-title text-high-contrast">Mochuelo</h3>
                    <hr class="border-orange border-2 rounded-small">
                    <span class="text-high-contrast text-overline font-overline">
                        200 💎
                    </span>
                    <p class="my-1 text-body font-body text-high-contrast">Llama al mochuelo de Atenea el te ayudará a
                        despejar tus dudas</p>
                </div>
                <button class="overflow-hidden rounded-small bg-primary-dark ml-24 mb-4">
                    <span class="text-high-contrast text-button font-button mx-4">
                        COMPRAR +
                    </span>
                </button>
            </div>
        </div>

        <!-- hestia -->
        <div class="flex-none w-3/5 pt-2 ml-4">
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <img src="../../../../assets/hestia-fire.png" alt="zeus" class="w-full object-cover h-40">
                <div href="" class="flex flex-col px-2 py-3 space-y-3">
                    <h3 class="text-title font-title text-high-contrast">Fuego Sagrado</h3>
                    <hr class="border-primary-lighter border-2 rounded-small">
                    <span class="text-high-contrast text-overline font-overline">
                        500 💎
                    </span>
                    <p class="my-1 text-body font-body text-high-contrast">Deja que el fuego de Hestia te proteja de un
                        poder Olímpico</p>
                </div>
                <button class="overflow-hidden rounded-small bg-primary-dark ml-24 mb-4">
                    <span class="text-high-contrast text-button font-button mx-4">
                        COMPRAR +
                    </span>
                </button>
            </div>
        </div>

        <!-- hades -->
        <div class="flex-none w-3/5 pt-2 ml-4">
            <div class="overflow-hidden rounded-small bg-low-contrast shadow-neo">
                <img src="../../../../assets/hades.png" alt="zeus" class="w-full object-cover h-40">
                <div href="" class="flex flex-col px-2 py-3 space-y-3">
                    <h3 class="text-title font-title text-high-contrast">Yelmo de oscuridad</h3>
                    <hr class="border-primary-darkest border-2 rounded-small">
                    <span class="text-high-contrast text-overline font-overline">
                        500 💎
                    </span>
                    <p class="my-1 text-body font-body text-high-contrast">Hades se pone su yelmo de invisibilidad y
                        aumenta tu multiplicador x2</p>
                </div>
                <button class="overflow-hidden rounded-small bg-primary-dark ml-24 mb-4">
                    <span class="text-high-contrast text-button font-button mx-4">
                        COMPRAR +
                    </span>
                </button>
            </div>
        </div>
    </div>

</section>

<!-- powers buy -->
<section class="pt-4 pb-5">
    <div class="mx-8 flex-col mb-3">
        <span class="text-reduce-contrast text-title font-ttext-title">
            Poderes Comprados:
        </span>
    </div>

    <!-- power list -->
    <div class="mx-12 flex flex-row justify-between">

        <!-- power container -->
        <div class="flex flex-col text-center">
            
            <!-- icon -->
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                ⚡
            </span>

            <!-- cant -->
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                0
            </span>
        </div>

        <!-- poseidon -->
        <div class="flex flex-col text-center">
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                🔱
            </span>
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                2
            </span>
        </div>

        <!-- atenea -->
        <div class="flex flex-col text-center">
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                🦉
            </span>
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                1
            </span>
        </div>

        <!-- hestia -->
        <div class="flex flex-col text-center">
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                🔥
            </span>
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                0
            </span>
        </div>

        <!-- hades -->
        <div class="flex flex-col text-center">
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                ⛑
            </span>
            <span class="text-display-1 font-ditext-display-1 text-high-contrast">
                0
            </span>
        </div>
    </div>
</section>